@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

$font-family: Libre Baskerville, serif !default;
$primary: "blue-grey" !default;
$accent: "indigo" !default;
$default-color: "800" !default;

@import 'ember-paper';

body {
  $blue-grey-50: #ECEFF1;
  $blue-grey-500: #607D8B;
  $blue-grey-800: #37474F;

  .md-sidenav-left {
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $blue-grey-500;
  }

  .sub-card {
    background-color: $blue-grey-800;
    color: $blue-grey-50;
  }

  .add-book {
    background-color: $blue-grey-800;
    color: white;
    text-transform: uppercase;
    padding: 10px 5px 10px 5px;
  }

}
