$font-family: Garamond, serif !default;
$primary: "blue-grey" !default;
$default-color: "800" !default;

@import 'ember-paper';

body {
  $blue-grey-500: #607D8B;

  .md-sidenav-left {
    min-height: 100vh;
  }

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $blue-grey-500;
  }

}
